<h1>ChatApp</h1>

<%if current_user%>
    <%= link_to "Start Chatting", rooms_path%>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete%>
    <%= link_to 'Edit Account', edit_user_registration_path, class: 'btn btn-secondary'%>
<%else%>
    <%= link_to 'Login', new_user_session_path%>
    <%= link_to 'Sign up ', new_user_registration_path %>
<%end%>