<div id="chatroom_container" class="row, bg-dark text-light">
  <div id="side_panel" class="col-md-4 col-sm-4">
    <h5> <%= current_user.email%> </h5>
    <br>
    <h4>Users</h4>
    <%= turbo_stream_from 'users'%>
    <div id="users">
        <%= render @users%>
    </div>
    <br><br>
    <h4>Rooms</h4>
    <%= turbo_stream_from 'rooms'%>
    <div id="rooms">
        <%= render @rooms%>
    </div>
    <%= render "layouts/new_room_form"%>
  </div>
 </div>
  <div id="room_container" class="col-md-8 col-sm-8 bg-dark text-light">
    <% if @single_room%>
        <h4 class="text-center"><%= @single_room.name%></h4>
    <%end%>
  </div>